<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<meta name="description" content="<%- site.customConfig.metaDescription || themeConfig.siteDescription %>" />
<link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
<link rel="preconnect dns-prefetch" href="https://cdn.jsdelivr.net/" crossorigin>
<script async src="https://cdn.ampproject.org/v0.js"></script>
<title><%= siteTitle %></title>
<%- include('./css') %>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<link rel="canonical" href="<%= tag.link %>" />
<link rel="shortcut icon" href="<%= themeConfig.domain %>/favicon.ico?v=<%= site.utils.now %>">

<%- include('./tagseo') %>

<% if (site.customConfig.search) { %><script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script><% } %>
<% if (site.customConfig.video) { %><script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script><% } %>
<% if (site.customConfig.audio) { %><script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script><% } %>
<link rel="alternate" type="application/atom+xml" title="<%= siteTitle %> - Atom Feed" href="<%= themeConfig.domain %>/atom.xml">
<% if (site.customConfig.socialshare === 'addthis') { %>
  <% if (site.customConfig.addthisdatawidgettype === 'globalfloating') { %>
    <script async custom-element="amp-addthis" src="https://cdn.ampproject.org/v0/amp-addthis-0.1.js"></script>
    <% } %>
      <% } %>
      
      <% if (site.customConfig.analytics) { %>
        <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
        <% if (site.customConfig.ga) { %>
          <amp-analytics type="gtag" data-credentials="include">
          <script type="application/json">
          {
            "vars" : {
              "gtag_id": "<%= site.customConfig.ga %>",
              "config" : {
                "<%= site.customConfig.ga %>": { "groups": "default" }
              }
            }
          }
          </script>
          </amp-analytics>
          <% } %>
    
          <% if (site.customConfig.ba) { %>
            <amp-analytics type="baiduanalytics">
              <script type="application/json">
                  {
                    "vars": {
                      "token": "<%= site.customConfig.ba %>"
                    },
                    "triggers": {
                      "trackPageview": {
                        "on": "visible",
                        "request": "pageview"
                      }
                    }
                  }
              </script>
          </amp-analytics>
            <% } %>
    
        <% } %>
